<h3 class="pb-3">Config</h3>

<ngb-tabset [(activeId)]="selectedTab" >
<!--
  <ngb-tab title="Commandes" id="tabCommands">
    <ng-template ngbTabContent>
      <br>
      <div *ngFor="let device of domoService.configCommands.devices">
        [{{device.label}}]
        <div *ngFor="let command of device.commands">
          &nbsp;{{command.label}}
        </div>
      </div>
    </ng-template>
  </ngb-tab>
-->

  <ngb-tab title="Devices Mqtt" id="tabMqttDevices">
    <ng-template ngbTabContent>
      <div> 
        <br/>
        <p>
          <button type="button" class="btn btn-default" (click)="domoService.refreshMqttDevices()">Rafraichir</button>
        </p>
        <div class="card-deck">
          <div *ngFor="let device of domoService.mqttDevices">
            <div class="card device-card">
              <div class="card-header" (click)="selectDevice(device[1].id)">
                {{device[1].id}}
              </div>
              <!-- <div *ngIf="selectedDevice==device[1].id"> -->
              <div>
                <div class="card-body">
                  <div>Version : {{device[1].version}}</div>
                  <div>MqttUrl : {{device[1].mqttUrl}}</div>
                  <div>Statut : {{device[1].status}}</div>
                  <p>Commandes :</p>
                  <div *ngFor="let command of device[1].commands" class="d-inline">
                    <button type="button" class="btn btn-outline-primary" (click)="domoService.execCommand(command.command)" >{{command.label}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </ng-template>
  </ngb-tab>

<!--
  <ngb-tab title="Devices" id="tabDevices">
    <ng-template ngbTabContent>
      <div> 
        <br/>
        <div *ngFor="let device of domoService.configCommands.devices">
          <p>
            <button type="button" class="btn btn-outline-primary" (click)="selectDevice(device.label)">
              {{device.label}}
            </button>
          </p>
          <div *ngIf="selectedDevice==device.label">
            <div class="card">
              <div class="card-body">
                <div *ngFor="let command of device.commands">
                  {{command.label}}
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </ng-template>
  </ngb-tab>
-->

  <ngb-tab title="Options" id="tabOptions">
    <ng-template ngbTabContent>
      <div> 
        <br/>

        <div class="row">
          <div class="col-lg-3">
            <label for="usr">Réinitialiser les sélections</label>
          </div>
          <button type="button" class="btn btn-default" (click)="appService.resetSelectedTab()">Réinitialiser</button>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" [(ngModel)]="appService.lsOptions.synchroMqtt">Synchronisation Mqtt
              </label>
            </div>
          </div>
        </div>

        
      </div>
    </ng-template>
  </ngb-tab>
  
<!--
  <ngb-tab title="Triggers" id="tabTriggers">
    <ng-template ngbTabContent>
      <div>
        <br/>
    
        <ngb-tabset [(activeId)]="selectedTabFrmTriggers" >
          <ngb-tab title="Event" id="frmTriggerEvent">
            <ng-template ngbTabContent>
              <br/>
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-default btn-combo-mqtt" id="dropdownBasic1" ngbDropdownToggle >Topic</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button *ngFor="let topic of formTopics" class="dropdown-item" (click)="mqttFormMessage.topic=topic">{{topic}}</button>
                      </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Mqtt topic" [(ngModel)]="mqttFormMessage.topic">
                  </div>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-default btn-combo-mqtt" id="dropdownBasic2" ngbDropdownToggle>Payload</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <button *ngFor="let payload of formPayloads" class="dropdown-item" (click)="mqttFormMessage.payload=payload">{{payload}}</button>
                      </div>
                    </div>        
                    <input type="text" class="form-control" aria-label="Mqtt Payload" [(ngModel)]="mqttFormMessage.payload">
                    <span class="input-group-btn">
                      <button class="btn btn-primary btn-domo" type="button" (click)="mqttService.execMqttMessage(mqttFormMessage)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          
          <ngb-tab title="Command" id="frmTriggerCommand">
            <ng-template ngbTabContent>
              <br/>
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-default btn-combo-mqtt" id="dropdownBasic1" ngbDropdownToggle >Topic</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button *ngFor="let topic of formTopics" class="dropdown-item" (click)="mqttFormMessage.topic=topic">{{topic}}</button>
                      </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Mqtt topic" [(ngModel)]="mqttFormMessage.topic">
                  </div>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-default btn-combo-mqtt" id="dropdownBasic2" ngbDropdownToggle>Payload</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <button *ngFor="let payload of formPayloads" class="dropdown-item" (click)="mqttFormMessage.payload=payload">{{payload}}</button>
                      </div>
                    </div>        
                    <input type="text" class="form-control" aria-label="Mqtt Payload" [(ngModel)]="mqttFormMessage.payload">
                    <span class="input-group-btn">
                      <button class="btn btn-primary btn-domo" type="button" (click)="mqttService.execMqttMessage(mqttFormMessage)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </ng-template>
  </ngb-tab>
-->
</ngb-tabset>