<div class="modal-header">
  <h4 class="modal-title">{{component.label}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="content">
    <app-domo-template [components]=getComponents()></app-domo-template>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="activeModal.close('Close click')">Close</button>
</div>
