.topMessage {
  z-index: 10; 
  position: fixed; 
  right: 10px; 
  top: 10px; 
  text-align: left;
}

.bottom-bar {
  z-index: 10; 
  position: fixed; 
  bottom: 0px; 
  width: 100%;
  
	background-color: #8d99ae;
  color: #eeeeee;
  
  padding: 15px;
  text-align: center;
}

.bottom-bar-left {
  float: left;
  display: inline-block;
  min-height: 1px;
  min-width: 50px;  
}
.bottom-bar-middle {
  display: inline-block;

}
.bottom-bar-right {
  float: right;
  display: inline-block;
  min-height: 1px;
  min-width: 50px;
  font-size: 1.2em;
}

.bottom-bar-menu {
  display: inline-block;
  margin: 0px 10px 10px 10px;
}

.bottom-bar-menu i {
  font-size: 1.8em;
}

.bottom-bar-menu-label {
  font-size: 0.7em;
}

.selected {
  color: #2b2d42;
}



