<div *ngIf="domoService.message!=''" class="topMessage">
  <span class="badge badge-info"><h6>{{domoService.message}}</h6></span>
</div>
<br>
<div class="container-fluid">
  <div (panend)="onPanEnd($event)">
    <app-room-page [hidden]="appService.lsOptions.selectedPage != 'room-page'"></app-room-page>
    <app-command-page [hidden]="appService.lsOptions.selectedPage != 'command-page'"></app-command-page>
    <app-webcam-page [hidden]="appService.lsOptions.selectedPage != 'webcam-page'"></app-webcam-page>
    <app-measure-page [hidden]="appService.lsOptions.selectedPage != 'measure-page'"></app-measure-page>
    <app-config-page [hidden]="appService.lsOptions.selectedPage != 'config-page'"></app-config-page>
  </div>
</div>

<div class="bottom-bar">
  <div class="bottom-bar-left">
  </div>
  <div class="bottom-bar-middle">
    <div *ngFor="let menu of domoService.config.configWeb.bottomMenus" [ngClass]="{'bottom-bar-menu': true, 'selected': appService.lsOptions.selectedPage==menu.page}" (click)="appService.selectPage(menu.page)">
      <div><i [ngClass]="'cmd-glyph fa fa-'+menu.icon" aria-hidden="true"></i></div>
      <div class="bottom-bar-menu-label">{{menu.label}}</div>
    </div>
  </div>
  <div class="bottom-bar-right">
    <div *ngIf="domoService.message!=''">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
</div>



 
