/*
.navbar-custom {
	background-color: #8d99ae;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.2em;
}
  
.navbar-custom .navbar-nav > li > a {
  color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
  color: #ffffff;
	background-color: transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
  text-decoration: none;
  background-color: #8d99ae;
}
     
.navbar-custom .navbar-brand {
  color:#eeeeee;
  font-size: 1.2em;
  font-weight: bold;
}

.navbar-custom .navbar-toggle {
  background-color: #eeeeee;
}

.navbar-custom .icon-bar {
  background-color: #8d99ae;
}

.navbar-custom .navbar-toggler {
  color: #eeeeee;
  border-color: #eeeeee;
}

.fa-menu {
  width: 30px;
}
*/

.topMessage {
  z-index: 10; 
  position: fixed; 
  right: 10px; 
  top: 10px; 
  text-align: left;
}

.bottom-bar {
  z-index: 10; 
  position: fixed; 
  left: 0px; 
  bottom: 0px; 
  width: 100%;
  
	background-color: #8d99ae;
  color: #eeeeee;
  
  padding: 15px;
  text-align: center;
}

.bottom-bar-menu {
  display: inline-block;
  padding: 0px 5px 10px 5px;
}

.bottom-bar-menu i {
  font-size: 1.8em;
}

.bottom-bar-menu-label {
  font-size: 0.7em;
}

.selected {
  color: #2b2d42;
}



