<!-- <nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-light bg-faded navbar-custom"> -->

<!--      
<nav class="navbar navbar-fixed-top navbar-custom">
  <span >
    <a class="navbar-brand" href="#" (click)="selectPage('command-page')">
      ngDomo 
    </a>
    <span>
      <a class="navbar-brand" href="#" (click)="selectPage('command-page')">
          <i class="fa fa-home" aria-hidden="true"></i>  
      </a>
      <a class="navbar-brand" href="#" (click)="selectPage('webcam-page')">
        <i class="fa fa-camera" aria-hidden="true"></i>  
      </a>
      <a class="navbar-brand" href="#" (click)="selectPage('measure-page')">
        <i class="fa fa-line-chart" aria-hidden="true"></i>  
      </a>
    </span>
  </span>
-->      
    
<!--    
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation"
    >
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="exCollapsingNavbar2">
      <ul class="navbar-nav">
        <li class="nav-item" [ngClass]="{active:selectedPage=='command-page'}">
          <a class="nav-link" href="#" (click)="selectPage('command-page')">
            <i class="fa fa-lightbulb-o fa-menu" aria-hidden="true"></i> Commandes
          </a>
        </li>
        <li class="nav-item" [ngClass]="{active:selectedPage=='webcam-page'}">
          <a class="nav-link" href="#" (click)="selectPage('webcam-page')">
            <i class="fa fa-camera fa-menu" aria-hidden="true"></i> Webcams
          </a>
        </li>
        <li class="nav-item" [ngClass]="{active:selectedPage=='measure-page'}">
          <a class="nav-link" href="#" (click)="selectPage('measure-page')">
            <i class="fa fa-line-chart fa-menu" aria-hidden="true"></i> Mesures
          </a>
        </li>
        <li class="nav-item" [ngClass]="{active:selectedPage=='config-page'}">
          <a class="nav-link" href="#" (click)="selectPage('config-page')">
            <i class="fa fa-cog fa-menu" aria-hidden="true"></i> Configuration
          </a>
        </li>
      </ul>
    </div>
-->    
<!--
</nav>
-->

<!--
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
          aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">North America - Conventional</a>
  <ul class="navbar-nav">
    <li class="nav-item" [ngClass]="{active:selectedPage=='command-page'}">
      <a class="nav-link" href="#" (click)="selectPage('command-page')" routerLink="/command-page">
      <i class="fa fa-tv" aria-hidden="true"></i> Commandes</a>
    </li>
    <li class="nav-item" [ngClass]="{active:selectedPage=='webcam-page'}">
      <a class="nav-link" href="#" (click)="selectPage('webcam-page')" routerLink="/webcam-page">
      <i class="fa fa-camera" aria-hidden="true"></i> Webcams</a>
    </li>
    <li class="nav-item" [ngClass]="{active:selectedPage=='measure-page'}">
      <a class="nav-link" href="#" (click)="selectPage('measure-page')" routerLink="/measure-page">
      <i class="fa fa-line-chart" aria-hidden="true"></i> Mesures</a>
    </li>
  </ul>  
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/transfers" routerLinkActive="active">Transfers</a>
      <a class="nav-item nav-link" routerLink="/jobs" routerLinkActive="active">Jobs</a>
      <a class="nav-item nav-link" routerLink="/jobs/7" routerLinkActive="active">Job 7</a>
    </div>
  </div>
</nav>
-->

<!-- <div class="container"> -->
<div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
  <app-room-page [hidden]="selectedPage != 'room-page'"></app-room-page>
  <app-command-page [hidden]="selectedPage != 'command-page'"></app-command-page>
  <app-webcam-page [hidden]="selectedPage != 'webcam-page'"></app-webcam-page>
  <app-measure-page [hidden]="selectedPage != 'measure-page'"></app-measure-page>
  <app-config-page [hidden]="selectedPage != 'config-page'"></app-config-page>
</div>  

  <div class="bottom-bar">
    <div *ngFor="let menu of domoService.config.configWeb.bottomMenus" [ngClass]="{'bottom-bar-menu': true, 'selected': selectedPage==menu.page}" (click)="selectPage(menu.page)">
      <div><i [ngClass]="'cmd-glyph fa fa-'+menu.icon" aria-hidden="true"></i></div>
      <div class="bottom-bar-menu-label">{{menu.label}}</div>
    </div>
  </div>
  
<!-- </div> -->

<!-- 
<br/>
<div class="container">
  <p>
    <ngb-alert type="success" [dismissible]="false">
      {{messageService.message}}
    </ngb-alert>
  </p>
</div>
-->
<!--
<div>
  &nbsp;{{domoService.config.version}}
</div>
-->

<!-- 
  <div class="row">
    <div class="card col-lg-4 col-sm-6 col-xs-12" *ngFor="let dino of dinosaurs; index as dinoIndex;">
      <div class="card-block">        
        <h4 class="card-title" >{{dinoIndex+1}}. {{dino.name}}</h4>        
        <div class="card-text">
          <div class="row">
            <div class="col-lg-4 col-xs-12 col-sm-6 ">
              Height: {{dino.height}} mt
            </div>
            <div class="col-lg-4  col-xs-12 col-sm-6">
              Weight: {{dino.weight}} lb
            </div>
            <div class="col-lg-4  col-xs-12 col-sm-6">
              Length: {{dino.length}} ft
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div *ngIf="dino.weight < 100; then bird else large"></div>
            <ng-template #bird> <strong>Very light</strong></ng-template>
            <ng-template #large> <div *ngIf="dino.weight<10000; else extraLarge"><strong>Large. Higher than an average person</strong></div></ng-template>
            <ng-template #extraLarge> <strong>Extremely large</strong></ng-template>
          </div>          
        </div>
      </div>
    </div>
  </div>
-->


 
