<span *ngFor="let component of components">
  <ngb-tabset *ngIf="component.type=='tabset'" (tabChange)="beforeChange($event)" [(activeId)]="selectedTab" >
    <ngb-tab *ngFor="let componentTab of component.tabs;" title="{{componentTab.label}}" id="{{componentTab.id}}">
      <ng-template ngbTabContent>
        <br/>
        <app-domo-template [components]=componentTab.components></app-domo-template>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  
  <button *ngIf="component.type=='dropdownMenu' || component.type=='command' || component.type=='cmdToggle'" type="button" class="btn btn-default btn-cmd" (click)="clickButton(content, component)">
    <i *ngIf="component.glyphicon" [ngClass]="'fa fa-'+component.glyphicon" aria-hidden="true"></i>
    <div *ngIf="component.status" [ngStyle]="calcStyle(component)" class="btn-cmd-status">&nbsp;</div>{{component.label}}
    <i *ngIf="component.type=='dropdownMenu'" class="fa fa-ellipsis-h" aria-hidden="true"></i>
  </button>

  <span *ngIf="component.type=='doubleCommand'">
    <button type="button" class="btn btn-default btn-cmd-double" (click)="clickButton(content, component.components[0])">
      <i *ngIf="component.components[0].glyphicon" [ngClass]="'fa fa-'+component.components[0].glyphicon" aria-hidden="true"></i>
      {{component.components[0].label}}
    </button>  
    <span class="btn-cmd-double-center">
      <i *ngIf="component.glyphicon" [ngClass]="'fa fa-'+component.glyphicon" aria-hidden="true"></i>
      <div *ngIf="component.status" [ngStyle]="calcStyle(component)" class="btn-cmd-status">&nbsp;</div>{{component.label}}
    </span>
    <button type="button" class="btn btn-default btn-cmd-double" (click)="clickButton(content, component.components[1])">
      <i *ngIf="component.components[1].glyphicon" [ngClass]="'fa fa-'+component.components[1].glyphicon" aria-hidden="true"></i>
      {{component.components[1].label}}
    </button>  
  </span>
  
  <div *ngIf="component.type=='mqttForm'"><br/>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-default btn-combo-mqtt" id="dropdownBasic1" ngbDropdownToggle >Topic</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let topic of formTopics" class="dropdown-item" (click)="mqttFormMessage.topic=topic">{{topic}}</button>
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Mqtt topic" [(ngModel)]="mqttFormMessage.topic">
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-default btn-combo-mqtt" id="dropdownBasic2" ngbDropdownToggle>Payload</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button *ngFor="let payload of formPayloads" class="dropdown-item" (click)="mqttFormMessage.payload=payload">{{payload}}</button>
            </div>
          </div>        
          <input type="text" class="form-control" aria-label="Mqtt Payload" [(ngModel)]="mqttFormMessage.payload">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="mqttService.execMqttMessage(mqttFormMessage)">Envoyer</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="component.type=='title'" class="domo-title">{{component.label}}</div>
  <span *ngIf="component.break==true || component.type=='separator'"><br/></span>
</span>