.btn-domo {
	background-color:#8d99ae;
  color: #ffffff;  
}

.content {
  margin: 5px;
}

.cmd-glyph {
  font-size: 2em;
}

.btn-combo-mqtt {
  width: 100px;
  background-color: #8d99ae;
  color: #eeeeee;  
}

.btn-cmd {
  width: 100px;
  height: 50px;
  margin: 2px -1px 2px 0px;
  padding-left: 6px;
  background-color: #ddd;
  font-weight: bold;
  color: #8d99ae;
  cursor: pointer;
  border-radius: 10px;
}

.btn-cmd-drop {
  height: 100px;
  background-color: #8d99ae;
  color: #eeeeee;
}

.btn-cmd-drop-big {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-color: #dddddd;
  font-size: 1.2em;
  padding: 10px;
}

.btn-cmd-double-container {
  display: inline-block;
  background-color: #ddd;
  margin: 2px 0px 2px 0px;
  border-radius: .25rem;
}

.btn-cmd-double-container-2 {
  display: grid;
  grid: 166px / auto 66px auto;
  height: 50px;
}

.btn-cmd-double {
  width: 68px;
  margin: 0px;
}

.btn-cmd-double-center {
  height: 50px;
  vertical-align: middle;
  text-align: center;
  padding-top: 14px;
  line-height: 0.8em;
  font-weight: bold;  
}

.btn-cmd-status-icon {
  font-size: 0.4em;
}

.domo-title {
  font-weight: bold;
  margin-left: 2px;
  font-size: 1.2em;
}

/* webcam */
.webcam {
}

.imgWebcam {
  width: 310px;
  height: 220px;
  background-color: #8d99ae;
  color: #eeeeee;
  border-radius: 10px;
  margin: 5px;
}

.imgWebcam-300 {
  width: 300px;
  height: 190px;
}

.domo-tab {
  display: inline-block;
  text-align: center;
}

