<span *ngFor="let component of components">
  <ngb-tabset *ngIf="component.type=='tabset'" (tabChange)="beforeChange($event)" [(activeId)]="selectedTab" >
    <ngb-tab *ngFor="let componentTab of component.tabs;" title="{{componentTab.label}}" id="{{componentTab.id}}">
      <ng-template ngbTabContent>
        <br/>
        <app-domo-template [components]=componentTab.components></app-domo-template>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <button *ngIf="component.type=='dropdownMenu' || component.type=='command' || component.type=='cmdToggle'" type="button" class="btn btn-secondary btn-cmd" (click)="clickButton(content, component)">
    <i *ngIf="component.glyphicon" [ngClass]="'fa fa-'+component.glyphicon" aria-hidden="true"></i>
    <!-- <span *ngIf="component.status" [ngStyle]="calcStyle(component)" class="btn-cmd-status">&nbsp;</span> {{component.label}} -->
    <div *ngIf="component.status" [ngStyle]="calcStyle(component)" class="btn-cmd-status">&nbsp;</div>{{component.label}}
    <i *ngIf="component.type=='dropdownMenu'" class="fa fa-ellipsis-h" aria-hidden="true"></i>
  </button>

  <span *ngIf="component.type=='doubleCommand'">
    <button type="button" class="btn btn-secondary btn-cmd-double" (click)="clickButton(content, component.components[0])">
      <i *ngIf="component.components[0].glyphicon" [ngClass]="'fa fa-'+component.components[0].glyphicon" aria-hidden="true"></i>
      {{component.components[0].label}}
    </button>  
    <span class="btn-cmd-double-center">
      <i *ngIf="component.glyphicon" [ngClass]="'fa fa-'+component.glyphicon" aria-hidden="true"></i>
      <!-- <span *ngIf="component.status" [ngStyle]="calcStyle(component)" class="btn-cmd-status">&nbsp;</span> {{component.label}} -->
      <div *ngIf="component.status" [ngStyle]="calcStyle(component)" class="btn-cmd-status">&nbsp;</div>{{component.label}}
    </span>
    <button type="button" class="btn btn-secondary btn-cmd-double" (click)="clickButton(content, component.components[1])">
      <i *ngIf="component.components[1].glyphicon" [ngClass]="'fa fa-'+component.components[1].glyphicon" aria-hidden="true"></i>
      {{component.components[1].label}}
    </button>  
  </span>

  <span *ngIf="component.break==true || component.type=='separator'"><br/></span>

</span>