<span *ngFor="let component of components">
  <ngb-tabset *ngIf="component.type=='tabset'" (tabChange)="beforeChange($event)" [(activeId)]="selectedTab" >
    <ngb-tab class="nav-tabs" *ngFor="let componentTab of component.tabs;" title="{{componentTab.label}}" id="{{componentTab.id}}">
      <ng-template ngbTabContent>
        <div class="container"> 
          <br/>
          <app-domo-template [components]=componentTab.components></app-domo-template>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  
  <div *ngIf="component.type=='dropdownMenu'" 
      [ngClass]="{'btn btn-default btn-cmd': true, 'btn-cmd-drop': component.type=='dropdownMenu'}"
      (click)="clickButton(content, component)">
    <div>
      <i *ngIf="component.glyphicon" [ngClass]="'cmd-glyph fa fa-'+component.glyphicon" aria-hidden="true"></i>
    </div>
    <div>
      {{component.label}}
    </div>
  </div>
  
   <!-- <button *ngIf="component.type=='dropdownMenu' || component.type=='command' || component.type=='cmdToggle'" type="button"  -->
  <button *ngIf="component.type=='command' || component.type=='cmdToggle'" type="button" 
      [ngClass]="{'btn btn-default btn-cmd': true, 'btn-cmd-drop': component.type=='dropdownMenu'}"
      (click)="clickButton(content, component)">
    <i *ngIf="component.status" [ngClass]="'fa fa-stop btn-cmd-status-icon'" [ngStyle]="calcStyle(component)" aria-hidden="true"></i>
    <i *ngIf="component.glyphicon" [ngClass]="'fa fa-'+component.glyphicon" aria-hidden="true"></i>
    {{component.label}}
  </button>

  <div *ngIf="component.type=='doubleCommand'" class="btn-cmd-double-container">
    <div class="btn-cmd-double-container-2">
      <!-- <div>On</div> -->
      <button type="button" class="btn btn-default btn-cmd btn-cmd-double" (click)="clickButton(content, component.components[0])">
        <i *ngIf="component.components[0].glyphicon" [ngClass]="'fa fa-'+component.components[0].glyphicon" aria-hidden="true"></i>
        {{component.components[0].label}}
      </button>       
      
      <div class="btn-cmd-double-center">
        {{component.label}}<br/>
        <i *ngIf="component.status" [ngClass]="'fa fa-stop btn-cmd-status-icon'" [ngStyle]="calcStyle(component)" aria-hidden="true"></i>
      </div>
      
      <button type="button" class="btn btn-default btn-cmd btn-cmd-double" (click)="clickButton(content, component.components[1])">
        <i *ngIf="component.components[1].glyphicon" [ngClass]="'fa fa-'+component.components[1].glyphicon" aria-hidden="true"></i>
        {{component.components[1].label}}
      </button>        
      <!-- <div>Off</div> -->
    </div>
  </div>
  
  <div *ngIf="component.type=='mqttForm'"><br/>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-default btn-combo-mqtt" id="dropdownBasic1" ngbDropdownToggle >Topic</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let topic of formTopics" class="dropdown-item" (click)="mqttFormMessage.topic=topic">{{topic}}</button>
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Mqtt topic" [(ngModel)]="mqttFormMessage.topic">
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-default btn-combo-mqtt" id="dropdownBasic2" ngbDropdownToggle>Payload</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button *ngFor="let payload of formPayloads" class="dropdown-item" (click)="mqttFormMessage.payload=payload">{{payload}}</button>
            </div>
          </div>        
          <input type="text" class="form-control" aria-label="Mqtt Payload" [(ngModel)]="mqttFormMessage.payload" (keyup.enter)="sendMqttFromMessage()">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-domo" type="button" (click)="sendMqttFromMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="component.type=='title'" class="domo-title">{{component.label}}</div>
  <span *ngIf="component.break==true || component.type=='separator'"><br/></span>
</span>