<h3 class="pb-3">Webcams</h3>

<!--
<ngb-tabset [(activeId)]="selectedTab" >
  <ngb-tab title="Live" id="live">
    <ng-template ngbTabContent>
-->    
      <div *ngFor="let webcam of domoService.config.configWeb.webcams" class="divWebcam">
        <div class="card-block">
          <div class="card-header" *ngIf="webcam.label">
            <h5>{{webcam.label}}</h5>
          </div>
          <div class="card-text">
            <img class="card-img-bottom" [src]="webcamService.getWebcamUrl(webcam)" (click)="webcamService.refreshWebcam(webcam)" alt="X"/>
          </div>
        </div>          
        <br/>
      </div>
<!--
    </ng-template>
  </ngb-tab>
  
  <ngb-tab title="Replay" id="replay">
    <ng-template ngbTabContent>
      <br/>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
-->
