.imgWebcam {
  width: 320px;
  height: 200px;
}

.imgWebcam-320 {
  width: 320px;
  height: 200px;
}

.imgWebcam-640 {
  width: 640px;
  height: 480px;
}

.imgWebcam-800 {
  width: 800px;
  height: 600px;
}

.imgWebcam-1024 {
  width: 1024px;
  height: 768px;
}