<ngb-tabset [(activeId)]="selectedTab" >
  
  <ngb-tab title="Live" id="live">
    <ng-template ngbTabContent>
      <div class="container"> 
        <br/>
        <div class="btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="webcamSize">
          <label ngbButtonLabel class="btn-primary btn-domo">
            <input ngbButton type="radio" [value]="1"> S
          </label>
          <label ngbButtonLabel class="btn-primary btn-domo">
            <input ngbButton type="radio" [value]="2"> M
          </label>
          <label ngbButtonLabel class="btn-primary btn-domo">
            <input ngbButton type="radio" [value]="3"> L
          </label>
          <label ngbButtonLabel class="btn-primary btn-domo">
            <input ngbButton type="radio" [value]="4"> XL
          </label>
        </div>
        <br/>
        <div *ngFor="let webcam of domoService.config.configWeb.webcams" class="divWebcam">
          <img [ngClass]="{'imgWebcam': true, 'imgWebcam-320':webcamSize==1,'imgWebcam-640':webcamSize==2,'imgWebcam-800':webcamSize==3,'imgWebcam-1024':webcamSize==4}" [src]="webcamService.getWebcamUrl(webcam)" (click)="webcamService.refreshWebcam(webcam)"/>
          <!-- <img [ngClass]="'imgWebcam-320'" [src]="getWebcamUrl(webcam)" (click)="refreshWebcam(webcam)"/> -->
          <!-- <img [ngClass]="{1:'imgWebcam-320',2:'imgWebcam-640',3:'imgWebcam-800'}[webcamSize]" [src]="getWebcamUrl(webcam)" (click)="refreshWebcam(webcam)"/> -->
          <!-- <img class="imgWebcam" [src]="getWebcamUrl(webcam)" (click)="refreshWebcam(webcam)"/> -->
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  
  <ngb-tab title="Replay" id="replay">
    <ng-template ngbTabContent>
      <br/>
    </ng-template>
  </ngb-tab>
  
</ngb-tabset>

