/* You can add global styles to this file, and also import other style files */
body {
  color: #8d99ae;
  padding-bottom: 100px;  
}

a {
  color: #8d99ae;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.dropdown-item, .dropdown-item:focus, .dropdown-item:hover {
    color: #8d99ae;
}