/* You can add global styles to this file, and also import other style files */
body {
/* color: #8d99ae; */
  color: #6d798e;
  padding-bottom: 100px;  
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}
/*
.dropdown-item, .dropdown-item:focus, .dropdown-item:hover {
  color: inherit;
}

.btn-default {
  color: inherit;
}
*/